# Chặn toàn bộ mã nguồn để bảo mật
src/
pom.xml
proguard.conf
.idea/
.vscode/
target/

# Chỉ cho phép file README và các tài liệu hướng dẫn
!README.md
!LICENSE
!assets/

# Các file rác và file tạm
*.log
*.iml
dependency-reduced-pom.xml
.DS_Store

